@font-face {
    font-family: 'Chivo';
    src: url('../../fonts/Chivo-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Chivo';
    src: url('../../fonts/Chivo-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Chivo';
    src: url('../../fonts/Chivo-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Chivo';
    src: url('../../fonts/Chivo-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Chivo';
    src: url('../../fonts/Chivo-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Chivo';
    src: url('../../fonts/Chivo-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'IBMP';
    src: url('../../fonts/IBMPlexSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}