.footer {
    box-shadow: 3px 0px 20px 0px rgba(35, 137, 152, 0.03);

    &__wrap {
        max-width: 1512px;
        padding: 97px 24px 65px;

        @media screen and (max-width: 760px) {
            padding: 45px 24px 35px;
        }

        @media screen and (max-width: 350px) {
            padding: 24px 12px 32px;
        }
    }

    .logo {
        margin-right: 140px;

        @media screen and (max-width: 760px) {
            margin-right: 0px;
        }
    }

    .logo__icon {
        width: 74px;
        height: 74px;
    }

    .logo__title {
        @media screen and (max-width: 500px) {
            font-size: 24px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1360px) {
            flex-wrap: wrap;
        }

        @media screen and (max-width: 760px) {
            flex-direction: column;
            gap: 37px;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 28%;
        max-width: 438px;

        @media screen and (max-width: 1360px) {
            width: 55%;
        }

        @media screen and (max-width: 910px) {
            margin: 40px auto 0;
        }

        @media screen and (max-width: 760px) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            max-width: 100%;
            width: 100%;
            text-align: center;
            flex-wrap: wrap;
            gap: 0;
        }

        @media screen and (max-width: 400px) {
            text-align: left;
            align-items: flex-start;
        }

        &>:last-child {
            @media screen and (max-width: 760px) {
                margin-top: -30px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        font-size: 18px;
        letter-spacing: -0.04em;
        text-transform: uppercase;

        @media screen and (max-width: 760px) {
            width: 50%;
        }

        >:first-child {
            color: #000;
        }
    }

    &__link {
        color: rgba(0, 0, 0, 0.38);

    }

    &__bottom {
        margin-top: 55px;
        font-family: "Inter", sans-serif;
        color: #0A142F;
        font-size: 14px;
        opacity: 0.65;
        text-align: center;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: #979797;
            bottom: -10px;
            left: 0;
            opacity: 0.2;

            @media screen and (max-width: 760px) {
                content: none;
            }
        }
    }

    .logo {
        align-items: flex-start;

        @media screen and (max-width: 760px) {
            justify-content: center;
        }
    }

    .user__social-list {
        @media screen and (max-width: 910px) {
            justify-content: center;
        }

        @media screen and (max-width: 500px) {
            justify-content: flex-start;
        }
    }

    .app-wrap {
        @media screen and (max-width: 910px) {
            margin: auto;
        }

        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }

    .header__btn-link {
        width: 199px;
        height: 61px;

        @media screen and (max-width: 400px) {
            width: 100%;
            height: 74px;
        }
    }

    .app-wrap__btn {
        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }
}

.user__btn-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 113px;
    justify-content: flex-end;

    @media screen and (max-width: 1360px) {
        width: 100%;
        row-gap: 50px;
        justify-content: center;
        margin-top: 50px;
    }

    @media screen and (max-width: 760px) {
        margin-top: 0;
        gap: 29px;
    }

    .app-wrap {
        column-gap: 24px;

        @media screen and (max-width: 1360px) {
            margin-left: auto;
        }

        @media screen and (max-width: 600px) {
            flex-direction: column;
            gap: 29px;
            margin-left: auto;
        }
    }

}

.user__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 24px;

    @media screen and (max-width: 760px) {
        justify-content: center;
    }

    @media screen and (max-width: 600px) {
        justify-content: flex-start;
    }

}